.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.process-class .MuiStepper-root {
  flex-wrap: wrap;
}


.MuiStepConnector-line {
  display: none !important;
}

.MuiStep-root {
  margin-bottom: 10px;
}

.step-sublabel {
  position: absolute;
  width: 24px;
  height: 24px;
  text-align: center;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 1px solid #303f9f;
}

.step-sublabel .MuiStepLabel-label {
  color: #303f9f !important;
  position: relative;
  top: 1px;
}



.Wizard-paper-220 {
  position: relative;
}

.timeline img {
  width: 100%;
  height: auto;
}